head
  style
    include ../stylesheets/basic.css
    //- include ../stylesheets/create-task.css
    include ../stylesheets/dashboard.css
    include ../stylesheets/create-task.css
  include ./partials/topbar.pug
  include ./partials/message.pug
  script(src='./socket.io/socket.io.js')
  script
    include ../scripts/jquery.js
  script.
    subs = !{JSON.stringify(subs)};
    self_id = "#{id}"
  script
    include ../scripts/createTask.js

  script.
    let supes = !{JSON.stringify(supes)};
    let ka = !{JSON.stringify(known_associates)}


    //- Announce self to server on socket
    var socket = io();
    let id = "#{id}";
    socket.emit('declareId', {userId : "#{id}"});
    socket.on('message', function(message){
      console.log(message);
      // Stub
    })
    $('document').ready(function(){
      $(".createTask").click(function(){addTaskBox()});
    })



+topbar(name)
+message(messages)


h2 Go To
div#button-row
  a(href="/tasks")
    div.link-button
      div.link-row My Tasks
  a(href="/assigned")
    div.link-button
      div.link-row Tasks I've Assigned
  a
    div.link-button.createTask 
      div.link-row Create Task
  a(href="/people")
    div.link-button 
      div.link-row People
