head
  style
    include ../stylesheets/basic.css
    include ../stylesheets/create-task.css
    include ../stylesheets/dashboard.css
    include ../stylesheets/task.css
  include ./partials/topbar.pug
  include ./partials/message.pug
  script(src='./socket.io/socket.io.js')
  script
    include ../scripts/jquery.js
    include ../scripts/taskHandler.js
    include ../scripts/createTask.js
    include ../scripts/taskSocket.js
  script.

    $('document').ready(function(){

      function updateFilteredTasks(ft){
        filtered_tasks = ft;
      }
      
      var tasks = !{JSON.stringify(tasks)};
      var filtered_tasks = [];
      var known_associates = !{JSON.stringify(known_associates)};
      var subs = !{JSON.stringify(subs)};
      var tags = [];  

      var self_id = "#{id}";
      var socket = initializeSocket(self_id);

      socket.on('task-edit', function(task){
        console.log('\ntaskView.pug - task was edited:', task)
        if (tasks.find((t)=>t._id==task._id)) {
          
          tasks.splice(tasks.indexOf(tasks.find((el) => el._id == task._id)), 1, task);
          
          let showChildren = false;

          if (!Boolean(getTaskEl(task._id)[0])) return;

          if ($((getTaskEl(task._id).children('.task').children('.expand-subtasks-control'))).attr('class').match("collapse-subtasks")) {
            showChildren=true;
          }

          let renderedTask = renderTask(task, self_id, known_associates, tasks, socket);
          getTaskEl(task._id).replaceWith(renderedTask);
          

          if (showChildren==true) {
            showSubTasks(task, $(renderedTask.children('.task').children('.show-subtasks')), self_id, known_associates, tasks, socket);
          }

        } else {
          tasks.push(task);
          if (task.parentTask){
            let parentEl = getTaskEl(task.parentTask);
            if (Boolean(parentEl[0]) && parentEl.children('.task').children('.expand-subtasks-control').attr('class').match('collapse-subtasks')) {
              parentEl.children('.subtasks-container').append(renderTask(task, self_id, known_associates, tasks, socket))
            }
          } else{
            $('body').append(renderTask(task, self_id, known_associates, tasks, socket));
          }
        }
      })

      socket.on('new-subtask', function(subtask) {
        tasks.push(subtask);
        let parent = tasks.find((t)=>t._id==subtask.parentTask);
        let parentEl = getTaskEl(parent._id);
      });

      socket.on('delete-task', function(task){
        let check = tasks.length;
        let deletedTask = tasks.find((t)=>t._id==task._id);
        tasks = tasks.filter(function(t){
          return t!=deletedTask;
        })
        getTaskEl(deletedTask._id).remove();
      });


      $('#rtf-container').append(renderTaskFilter(tasks, filtered_tasks, self_id, known_associates, socket));
    })

body    

  +topbar(name, unreadNotifications)
  +message(messages)
  #rtf-container
  .separation-bar
  #task-view 

